<footer>
    <div class="container">
        <div id="about">
            <h2>About Us</h2>
            <p>Every business has an origin story worth telling, and usually, one that justifies why you even do business and have clients. <span style="font-size: 20px; display:block;">We don't have one!!</span>In case you were wondering... Under Construction is the title not the situation -.-</p>
        </div>
        <div class="links">
            <h2>Find us on our social</h2>
            <a href="https://www.facebook.com" class="social"><i class="fa fa-facebook">&emsp;Facebook</i></a>
            <a href="https://www.instagram.com" class="social"><i class="fa fa-linkedin">&emsp;Instagram</i></a>
            <a href="https://www.twitter.com" class="social"><i class="fa-brands fa-twitter">&emsp;Twitter</i></a>
            <a href="https://www.linkedin.com" class="social"><i class="fa fa-linkedin">&emsp;LinkedIn</i></a>
        </div>
        <div id="newsletter">
            <h2>newsletter</h2>
            <p>Sign Up to our newsletter so you won't miss any news!!</p>
            <form class="newsletter_input" method="post" action="/UnderConstruction/newsletter">
                <input type="email" name="email" id="" placeholder="Enter your email address!" required>
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</footer>

<!-- Copyrights -->
<div class="copyrights_container">
    <div class="cptext_container">
        <p>© 2021-2022 &emsp; Team 4 &emsp; All rights reserved.</p>
    </div>
</div>