<div class="cart hovering">
    <div class="cartHeader">
        <i class="fa-solid fa-cart-shopping" id="cartIcon"></i>
        <span id="cartQuitButton" class="hidden">X</span>
    </div>
    <div class="cartBody">
        <fieldset id="shoppingCart">
            <legend>Cart Items</legend>
            <div class="emptyLabal">
            </div>
        </fieldset>
        <a href="#checkout">checkout</a>
    </div>
</div>