<footer>
    <div class="container">
        <div id="about">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit atque cum quasi, numquam dolorem omnis
                nesciunt ducimus repellat, dolores aliquam possimus? Natus dolorem rem aperiam animi nemo accusamus,
                eveniet
                placeat!</p>
        </div>
        <div class="links">
            <h2>Find us on our social</h2>
            <a href="https://www.facebook.com" class="social"><i class="fa fa-facebook">&emsp;Facebook</i></a>
            <a href="https://www.instagram.com" class="social"><i class="fa fa-linkedin">&emsp;Instagram</i></a>
            <a href="https://www.twitter.com" class="social"><i class="fa-brands fa-twitter">&emsp;Twitter</i></a>
            <a href="https://www.linkedin.com" class="social"><i class="fa fa-linkedin">&emsp;LinkedIn</i></a>
        </div>
        <div id="newsletter">
            <h2>newsletter</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit maxime assumenda cum praesentium deserunt
                perferendis.</p>
            <div class="newsletter_input">
                <input type="email" name="" id="" placeholder="Enter your email address!">
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</footer>

<!-- Copyrights -->
<div class="copyrights_container">
    <div class="cptext_container">
        <p>© 2021-2022 &emsp; Team 4 &emsp; All rights reserved.</p>
    </div>
</div>