<div class="panel" id="plan">
    <div class="pricing-plan">
      <img src="icons/icon1.png" alt="" class="pricing-img" />
      <h2 class="pricing-header">Personal</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">1 Book per month</li>
        <li class="pricing-features-item">
          Hold item in cart for 30 minutes
        </li>
        <li class="pricing-features-item">Shipping Charges</li>
      </ul>
      <span class="pricing-price">$5</span>
      <a href="#/" class="pricing-button">Sign up</a>
    </div>

    <div class="pricing-plan">
      <img src="icons/icon2.png" alt="" class="pricing-img" />
      <h2 class="pricing-header">Family Package</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Up to 4 Books per Month</li>
        <li class="pricing-features-item">Hold items in cart for 1 hour</li>
        <li class="pricing-features-item">Free Shipping</li>
      </ul>
      <span class="pricing-price">$50</span>
      <a href="#/" class="pricing-button is-featured">Free trial</a>
    </div>

    <div class="pricing-plan">
      <img src="icons/icon3.png" alt="" class="pricing-img" />
      <h2 class="pricing-header">Platinum</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Up to 15 books a month</li>
        <li class="pricing-features-item">Hold Items in Cart for 3 days</li>
        <li class="pricing-features-item">
          Be the first to know about new releases
        </li>
        <li class="pricing-features-item">Free Shipping</li>
      </ul>
      <span class="pricing-price">$120</span>
      <a href="#/" class="pricing-button">Free trial</a>
    </div>
  </div>
  </div>