<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction-search resault</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/36bce782d3.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/cart.css">
    <link rel="stylesheet" href="/searchProduct.css">
    <link rel="shortcut icon" href="/pictures\favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include("partials/navbar.ejs") %> 
    <div class="productNav">
        <form action="/UnderConstruction/searchProducts" class="search">
            <label for="search">&telrec;</label>
            <input type="text" name="search" id="search" placeholder="Search Book">
        </form>
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass icon active"></i>
            <i class="fa-solid fa-arrow-down-a-z icon"></i>
            <i class="fa-solid fa-arrow-down-z-a icon"></i>
            <i class="fa-solid fa-tag icon"></i>
            <i class="fa-solid fa-thumbs-up icon"></i>
        </div>
    </div>
    <div class="mainElement">
        <div class="sidebar">
            <div class="side-genres">
                <h2>Genres</h2>
                <input type="checkbox" name="fantacy" id="fantacy">
                <label for="fantacy">Fantacy</label><br>
                <input type="checkbox" name="sci-fi" id="sci-fi">
                <label for="sci-fi">sci-fi</label><br>
                <input type="checkbox" name="mystery" id="mystery">
                <label for="mystery">mystery</label><br>
                <input type="checkbox" name="thriller" id="thriller">
                <label for="thriller">thriller</label><br>
                <input type="checkbox" name="romance" id="romance">
                <label for="romance">romance</label><br>
                <input type="checkbox" name="westerns" id="westerns">
                <label for="westerns">westerns</label><br>
                <input type="checkbox" name="dystopian" id="dystopian">
                <label for="dystopian">dystopian</label><br>
                <input type="checkbox" name="self-improvement" id="self-improvement">
                <label for="self-improvement">self-improvement</label>
            </div>
            <div class="iconContainer hidden">
                <i class="fa-solid fa-circle-arrow-right expand-sidebar-icon"></i>
            </div>
        </div>
        <div class="displayItems">
            <div class="item">
                <img src="/pictures/agathabook.jpeg" alt="agatha book cover">
                <span class="title">The Murder of Roger Ackroyd</span>
                <span>Rating:</span><span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
            </div>
            
        </div>

    </div>
    <%- include("partials/cart.ejs") %> 
    <%- include("partials/signIn.ejs") %> 
    <%- include("partials/footer.ejs") %> 

    <script src="/navbar.js"></script>
    <script src="/app.js"></script>`
    <script src="/searchProduct.js"></script>
    <script src="/cart.js"></script>
</body>
</html>