.container {
  /* max-width: 1080px; */
  margin: 2em auto;

}

.lh-condensed { 
    line-height: 1.25; 
}

.list-group{
  width: 100%;
}

.my-0{
  display: inline-block;
  width: 50%;
}

#prod_n img{
  display: inline-block;
  width: 50px;
  height: 50px;
}

#prod_n{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
